    </div>
    </div>
    <div class="container">
        <nav class="navbar nav-container">

            <a class="nav-link text-secondary" target="_blanc" href="https://ko-fi.com/sehbazrafik">☕Coffee
            </a>

            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://heroku.com"><img class="footer-icon"
                                src="/images/heroku.png" alt="heroku-img"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://github.com/Sehbaz"><img class="footer-icon"
                                src="/images/github.png" alt="github-img"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    </body>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    </html>