<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Sehbaz Rafik</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/gif" href="/images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <nav class="navbar nav-container nav-sticky ">
            <a class=" navbar-brand text-dark font-weight-bold" href="/">💾 Sehbaz Rafik</a>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">

                        <a class="nav-link text-secondary font-weight-bold" href="/me">Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary font-weight-bold" href="/contact">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-secondary font-weight-bold" target="_blanc"
                            href="https://ko-fi.com/sehbazrafik">☕Coffee
                        </a>
                    </li>


                </ul>
            </div>

        </nav>