<%- include("partials/header") -%>
<section class="container">
    <h2 class="section-h2">Contact</h2>
    <p class="text-secondary">I write about modern JavaScript, Node.js, design and all things web development.</p>
    <img class="pro-pic" src="/images/contact-img.png" alt="contact-pic">
    <h2>Around the web</h2>
    <ul>
        <li>
            <strong>Email :</strong>
            <a href="mailto:sehbazm@gmail.com" target="_blanc">sehbaz@gmail.com</a>

        </li>
        <li>
            <strong>Github :</strong>
            <a href="https://github.com/Sehbaz" target="_blanc">Sehbaz</a>
        </li>
        <li>
            <strong>LinkedIn :</strong>
            <a href="https://www.linkedin.com/in/sehbazrafik/" target="_blanc">Sehbaz Rafik</a>
        </li>

    </ul>
</section>
<%- include("partials/footer") -%>