<%- include("partials/header") -%>
<main id="main-content">
    <div class="container">
        <div class="lead">
            <h1>I'm Sehbaz</h1>
            <p class="text-secondary">I write about modern JavaScript, Node.js, design and all things web development.
            </p>
            <div class="social-buttons">
                <div>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/Sehbaz" data-size="large" data-show-count="true"
                        aria-label="Follow @Sehbaz on GitHub">Follow</a>

                    <a href="https://twitter.com/Sehbazrafik?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                        data-size="large" data-show-screen-name="false" data-show-count="true">Follow @Sehbazrafik</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>

</main>
<section class="container">
    <h2 class="section-h2">Open Source Projects</h2>
    <div class="project-container">

        <div class="projects">
            <h4>🕹️ Simon Game</h4>
            <p>Simple memory game using VanillaJS. </p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/Simon-Game" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://sehbaz.github.io/Simon-Game/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>🗓 Todo List</h4>
            <p> A todo app uses mongoDB to save the data and express as an middleware.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/todolist-v2" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://enigmatic-journey-94031.herokuapp.com/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>📒 Daily Journal</h4>
            <p>A dairy app implementing mongoDB and nodeJS.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/daily-journal" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://intense-dawn-77855.herokuapp.com/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>📨 Signup Letter</h4>
            <p> A simple app made using backend mailchimp API.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/newsletter-signup" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://infinite-ocean-93601.herokuapp.com/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>🎲 Dice game</h4>
            <p>Simple dice game made in VanillaJS.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/dice-game" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://sehbaz.github.io/dice-game/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>🥁 Drum Kit</h4>
            <p>Play sound on key pressed and mouse clicked based on pure JS.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/drum-kit-band" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://sehbaz.github.io/drum-kit-band/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>🐶Tin Dog</h4>
            <p> Simple HTMl and CSS website. The power of CSS.</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/tindog" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="https://sehbaz.github.io/tindog/" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>
    <div class="project-container">

        <div class="projects">
            <h4>💾 Sehbaz Rafik</h4>
            <p> Personal website (Source of this website).</p>
            <div class="button">
                <a class="github-button" href="https://github.com/Sehbaz/sehbazrafik.com" data-size="large"
                    data-show-count="false" aria-label="Follow @Sehbaz on GitHub">Source</a>
            </div>
            <a href="http://glacial-harbor-99388.herokuapp.com./" target="_blanc"> <button type="button"
                    class=" btn-primary btn-sm ">View</button></a>

        </div>

    </div>




</section>

<%- include("partials/footer") -%>