<%- include("partials/header") -%>
<main id="main-content">
    <div class="container">
        <div class="lead">
            <h1>I'm Sehbaz</h1>
            <p class="text-secondary">I write about modern JavaScript, Node.js, design and all things web development.
            </p>
            <div class="social-buttons">
                <div>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/Sehbaz" data-size="large" data-show-count="true"
                        aria-label="Follow @Sehbaz on GitHub">Follow</a>

                    <a href="https://twitter.com/Sehbazrafik?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                        data-size="large" data-show-screen-name="false" data-show-count="true">Follow @Sehbazrafik</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>

</main>
<section class="container">
    <h2 class="section-h2">Open Source Projects</h2>
    <div class="projects">
        <h4>🌙 New Moon</h4>
        <p> Your new favorite theme.</p>
        <div class="button">
            <a class="github-button" href="https://github.com/Sehbaz" data-size="large" data-show-count="false"
                aria-label="Follow @Sehbaz on GitHub">Source</a>
        </div>
        <button type="button" class=" btn-primary btn-sm">Primary</button>
    </div>



</section>

<%- include("partials/footer") -%>