<%- include("partials/header") -%>
<section class="container">
    <h2 class="section-h2">Me</h2>
    <p class="text-secondary">I’m Sehbaz Rafik, a web developer from United Kingdom. I
        currently work as a front
        end software engineer for my personal projects. </p>
    <p class="text-secondary">
        I aim to create more free of ads, more sustainable, more scalable and profitable apps.
    </p>
    <img class="pro-pic" src="/images/profile-img.png" alt="profile-pic">
    <h2>Around the web</h2>
    <ul>
        <li>
            <strong>Email :</strong>
            <a href="mailto:sehbazm@gmail.com" target="_blanc">sehbaz@gmail.com</a>

        </li>
        <li>
            <strong>Github :</strong>
            <a ref="https://github.com/Sehbaz/Simon-Game" target="_blanc">Sehbaz</a>
        </li>
    </ul>
    <h2>Open Source Projects</h2>
    <li>
        <a href="https://github.com/Sehbaz/Simon-Game" target="_blanc">Simon Game</a>
        - Simple memory game using VanillaJS.

    </li>
    <li>
        <a href="https://github.com/Sehbaz/todolist-v2" target="_blanc">Todo List</a>
        - A todo app uses mongoDB to save the data and express as an middleware.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/daily-journal" target="_blanc">Daily Journal</a>
        - A dairy app implementing mongoDB and nodeJS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/newsletter-signup" target="_blanc">Signup Letter</a>
        - A simple app made using backend mailchimp API.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/dice-game" target="_blanc">Dice game</a>
        - Simple dice game made in VanillaJS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/drum-kit-band" target="_blanc">Drum Kit</a>
        - Play sound on key pressed and mouse clicked based on pure JS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/tindog" target="_blanc">Tin Dog</a>
        - Simple HTMl and CSS website. The power of CSS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/sehbazrafik.com" target="_blanc">Sehbaz Rafik</a>
        - Personal website (Source of this website).
    </li>
    <h2>Currently Using</h2>
    <ul>
        <li>
            <strong>Computer :</strong>
            <a>Macbook Pro 2013</a>

        </li>
        <li>
            <strong>Hosting :</strong>
            <a href="https://heroku.com" target="_blanc">Heroku</a>
        </li>
        <li>
            <strong>Code Editor :</strong>
            <a href="https://code.visualstudio.com/" target="_blanc">VSCode</a>
        </li>
    </ul>

</section>
<%- include("partials/footer") -%>