<%- include("partials/header") -%>
<section class="container">
    <h2>Open Source Projects</h2>
    <li>
        <a href="https://github.com/Sehbaz/Simon-Game" target="_blanc">Simon Game</a>
        - Simple memory game using VanillaJS.

    </li>
    <li>
        <a href="https://github.com/Sehbaz/todolist-v2" target="_blanc">Todo List</a>
        - A todo app uses mongoDB to save the data and express as an middleware.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/daily-journal" target="_blanc">Daily Journal</a>
        - A dairy app implementing mongoDB and nodeJS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/newsletter-signup" target="_blanc">Signup Letter</a>
        - A simple app made using backend mailchimp API.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/dice-game" target="_blanc">Dice game</a>
        - Simple dice game made in VanillaJS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/drum-kit-band" target="_blanc">Drum Kit</a>
        - Play sound on key pressed and mouse clicked based on pure JS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/tindog" target="_blanc">Tin Dog</a>
        - Simple HTMl and CSS website. The power of CSS.
    </li>
    <li>
        <a href="https://github.com/Sehbaz/sehbazrafik.com" target="_blanc">Sehbaz Rafik</a>
        - Personal website (Source of this website).
    </li>

</section>
<%- include("partials/footer") -%>